{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current",
                    "browsers": [
                        ">0.2%",
                        "not dead",
                        "not op_mini all"
                    ]
                },
                "useBuiltIns": "usage",
                "corejs": 3
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": [
        [
            "@babel/plugin-proposal-decorators",
            {
                "legacy": true
            }
        ],
        [
            "@babel/plugin-proposal-class-properties",
            {
                "loose": true
            }
        ],
        "babel-plugin-graphql-tag",
        [
            "import",
            {
                "libraryName": "antd",
                "libraryDirectory": "es",
                "style": "css"
            }
        ]
    ]
}